@tailwind base;
@tailwind components;
@tailwind utilities;

.custom_button_style {
  @apply text-sm font-semibold h-[40px] px-8 border-none shadow-none text-white bg-primary-color;
}

.custom_hover:hover {
  background-color: #35915a !important;
}

* {
  font-family: "Geist", sans-serif !important;
}

.ant-notification .ant-notification-notice-wrapper {
  border: 1px solid rgb(224, 224, 224);
}

.ant-form-item {
  margin-bottom: 10px !important;
}

.ant-form-item .ant-form-item-explain-error {
  font-size: 12px !important;
  margin-top: 2px !important;
}
